@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04");
}

@section banner {
    <h1>@Page.Title</h1>
}

@{


    var database = Database.Open("CHINOOK");

    var inputText = Request.Form["input-text"];
    var buttonControl = Request.Form["button-control"];    

    var inputTextString = "%" + inputText + "%";
    string artistListSQL = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0";
    var artistListOutput = database.Query(artistListSQL, inputTextString);

    

    if (IsPost)
    {


        if (string.IsNullOrEmpty(inputText))
        {
            <p>Please input a name!</p>
        }
        else
        {
            if (buttonControl.Equals("Search"))
            {
                if (artistListOutput.Count() == 0)
                {
                    <p>There are no records found.</p>
                    inputText = "";
                }
                else
                {
                    Response.Redirect("Exercise04_ArtistList.cshtml?InputText=" + inputText);
                }
            }
            else
            {

            }

        }
    }
}

<form id="album-form" class="form-signin" method="post">
    <div class="text-center mb-4">
        <h2 class="mb-3 font-weight-normal">Edit an Album</h2>
    </div>

    <div class="input-group">
        <input type="text" id="input-text" class="form-control" name="input-text" placeholder="Enter an artist name" />
        @*<label for="input-text">Enter an artist name</label>*@
        <button type="submit" id="search-button" class="btn btn-primary ml-2" name="button-control" value="Search">Search</button>
    </div>
</form>
