@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_A");
}

@section banner {
    <h1>@Page.Title</h1>
}

@{
    string artistId = "";
    string artistName = "";
    var dataBase = Database.Open("CHINOOK");

    var inputText = Request.Form["input-text"];
    var submitButton = Request.Form["submit-button"];

    if (IsPost)
    {
        if (submitButton.Equals("submit"))
        {
            <p>You clicked the submit button.</p>

            var inputTextString = "%" + inputText + "%";
            string querySQL = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
            var resultingOutput = dataBase.Query(querySQL, inputTextString);


            if(resultingOutput.Count() == 0)
            {
                <p>There are no records found.</p>
                inputText = "";
            }
            else
            {
                Response.Redirect("Exercise02_B.cshtml?InputText=" + inputText);
            }
        }
        else
        {

        }
    }
    else
    {
        @*<p>The database has not been queried.</p>*@
        inputText = "";
    }
}

<form method="post">
    <div class="container">
        <div class="input-group col-md-6">
            <input type="text" id="input-text" class="form-control" name="input-text" placeholder="Enter an artist name" />
            <button type="submit" id="submit-button" class="btn btn-primary ml-2" name="submit-button" value="submit">Submit</button>
        </div>
    </div>
</form>